body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.IntroDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 40vw;
    background-image: url('ivy-edited.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-size: 30px;
    
}



.IntroDiv p {
    font-size: 10px;
}

.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vw;
}

.About img {
    width: 60vw;
    border-radius: 4px;
}

.AboutStuff {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.Tech img {
    height: 60px;
}

@media (min-width: 600px){
    .IntroDiv {
        height: 50vw;
        align-items: center;
    }
    
    .IntroDiv h1 {
        font-size: 100px;
    }

    .IntroDiv p {
        font-size: 30px;
    }

    .About img {
        width: 40vw;
    }
}